MOBYPICTURE_KEY=
FLICKR_SECRET=
FLICKR_KEY=
YFROG_KEY=
INSTAGRAM_KEY=
INSTAGRAM_SECRET=
GOOGLE_KEY=
IMGUR_KEY=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN_KEY=
TWITTER_ACCESS_TOKEN_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
BING_CLIENT_ID=
BING_CLIENT_SECRET=
ZEMANTA_LICENSE=
OPENCALAIS_LICENSE=
ALCHEMYAPI_LICENSE=